<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quibble Login</title>
	<meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="gOVwte9MlqwnxUHXLTDXPCUbaORx-BbS12xB4Eaajbc" />
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href={% static 'quiz/images/icons/favicon.ico' %}/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/bootstrap/css/bootstrap.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/animate/animate.css' %}>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/css-hamburgers/hamburgers.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/vendor/select2/select2.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'quiz/css/util.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'quiz/css/main.css' %}>

	<link rel="stylesheet" type="text/css" href={% static 'quiz/profile.css' %}>
<!--===============================================================================================-->
	<style>
		        html,body {
            padding: 0;
            margin: 0;
        }


        footer {
            width: 100%;
            bottom: 0;
            position: fixed;
        }
        .fa {
			padding: 5px;
			font-size: 10px;
			width: 15px;
			text-align: center;
			text-decoration: none;
			border-radius:10px;
		}

		/* Add a hover effect if you want */
		.fa:hover {
			opacity: 0.7;
		}

		/* Set a specific color for each brand */

		/* Facebook */
		.fa-facebook {
			background: #3B5998;
			color: white;
		}
	</style>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src={% static 'quiz/images/img-01.png' %} alt="IMG">
				</div>

				<form class="login100-form validate-form" method="POST" action="/login_user/">
					{% csrf_token %}
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 " data-validate = "Enrollment number is required.">
						<input class="input100" type="text" name="email" placeholder="Enrollment Number" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>


					<div class="text-center p-t-136">
						<a class="txt2" href="/register/">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
                        <div style="font-size: 10px;">
		                    Developer-: Harsh Srivastava(OSDG Secretary)
		                    <a href="https://www.facebook.com/harsh.srivastava.7374" class="fa fa-facebook"></a>
		                </div>					
		              </div>
				</form>
			</div>
		</div>
	</div>
	<!-- <footer>-->
 <!--   <h6><strong>-->
	<!--	Developer-: Harsh Srivasatava(OSDG Secretary)-->
	<!--	<a href="https://www.facebook.com/harsh.srivastava.7374" class="fa fa-facebook"></a>-->
	<!--</strong>-->
	<!--</h6>-->
 <!--   </footer>-->
	
	{% include 'quiz/float.html' %}
	
<!--===============================================================================================-->	
	<script src={% static 'quiz/vendor/jquery/jquery-3.2.1.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'quiz/vendor/bootstrap/js/popper.js' %}></script>
	<script src={% static 'quiz/vendor/bootstrap/js/bootstrap.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'quiz/vendor/select2/select2.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'quiz/vendor/tilt/tilt.jquery.min.js' %}></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src={% static 'quiz/js/main.js' %}></script>


</body>
</html>
